div.rbc-event.rbc-event-allday.rbc-red {
  background-color: red;
}
div.rbc-event.rbc-event-allday.rbc-yellow {
  background-color: yellow;
}
div.rbc-event.rbc-event-allday.rbc-green {
  background-color: #588c1d;
}
